/* body{
  background-color: #D7C2AC;
}

#plateau{
  background-color: #4B3A30;
  position: relative;
} */

/* :root {
   --pixel-size: 2;
} */
/*
#pion{
  width: 41px;
  overflow: hidden;
  background-color: blue;
  position: absolute;
  z-index: 100;
} */

/* .pion_naruto{
  animation: animate 1s steps(9) infinite;
}

@keyframes animate {
   from {
      transform: translate3d(0px,0,0)
   }
   to {
      transform: translate3d(-100%,0,0)
   }
} */
