body{
  background-color:	#1b2124;
  margin: 0;
  padding: 0;
}

#plateau{
  margin-left: 2.5%;
  margin-top: 2.5%;
  position: relative;
}

#pion{
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-image: url(sprite_sheet/cats1.png);
}
